.print,
.print-on #map {
    width: calc((100% - 60px) / 2);
}
.print-on #map {
    left: calc((100% - 60px) / 2);
}
.print {
    right: calc((100% - 60px) / 2);
    bottom: 0;
    left: 0;
    position: absolute;
    top: 40px;
    display: none;
    border-right: 1px solid #aaa;
}
.print-on .print {
    display: block;
}
